body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(88, 196, 243);
    color: rgb(256, 256, 256);
    font-family: rambla, sans-serif;
}

ul {
    list-style-type: none;
    background-color: rgba(20, 20, 20, 0.2);
    padding: 5px;
}

li {
    margin: 5vh 0;
    font-size: 1rem;
    padding: 0 30px;
}

h2 {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.8rem;
    padding: 5px;
}

.container {
    margin: 2vh 22vw;
}

input {
    border-radius: 6px;
    border: 0;
    height: 1.5rem;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

select {
    border-radius: 6px;
    border: 0;
    height: 1.5rem;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

span {
    color: red;
}

#sub {
    text-align: center;
}